<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h3>Hi there. This is a sample OMS page</h3>

<!-- <div>
    <iframe width="853" height="480" src="https://www.youtube.com/watch?v=yln_CffenYw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div> -->
</body>
</html>
